body{
    background-image: url(1.png);
}
.center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%; 
    box-shadow: 0 0 15px #000;
    background-image: url(1.png);
}
.inset{
    box-shadow: inset 0 0 15px #000;
}
#preloader{
    width: 60vh;
    height: 60vh;
}
#ring1{
    width: 54vh;
    height: 54vh;
}
#ring1:before{
    content: "";
    display: block;
    width: 55vh;
    height: 55vh;
    border: 2vh solid transparent;
    border-top-color: #00a1ff;
    border-left-color: #00a1ff;
    border-radius: 50%;
    filter: blur(0.5vh);
    position: absolute;
    top: -2.5vh;
    left: -2.5vh;
    animation: animationCircle 1s linear infinite;
}
#ring2{
    width: 40vh;
    height: 40vh;
}
#ring3{
    width: 34vh;
    height: 34vh;
    text-align: center;
    line-height: 34vh;
    font-family: sans-serif;
    color: #EBADFF;
    font-size: 5vh;
    font-weight: 600;
    letter-spacing: 1vh;
    text-transform: uppercase;
    text-shadow: 0 0 10px #bb2dfb;
}
#ring3:before{
    content: "";
    display: block;
    width: 35vh;
    height: 35vh;
    border: 2vh solid transparent;
    border-bottom-color: #ff03fa;
    border-right-color: #ff03fa;
    border-radius: 50%;
    filter: blur(0.5vh);
    position: absolute;
    top: -2.5vh;
    left: -2.5vh;
    animation: animationCircle2 1s linear infinite;
}
@keyframes animationCircle{
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg) ;
    }
}
@keyframes animationCircle2{
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg) ;
    }
}